# .NET
bin/
obj/
*.user
*.userosscache
*.sln.docuser

# Node.js
node_modules/
dist/
.env

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Databases
*.db
*.sqlite

# OS
.DS_Store
Thumbs.db
